.searchHeader {
    padding: 1rem;
    border-bottom: 1px solid #797979;
    box-shadow: 0px 0px 4px #0000004d, 0px -1px 0px 0px #d9d9d9 inset;
    background: inherit;
    background-color:  #f3f3f3;
}
.font1_5 {
    font-size: 1.5rem !important;
}
.RadioBtnText .sapMLabel .sapMLabelTextWrapper {
    font-size: 1rem;
    font-weight: bold;
}
.bigBlueBtn .sapMBtnInner.sapMBtnText {
    color: #0a6ed1 !important;
    border: 2px solid #0A6ECF !important;
    font-size: 1rem !important;
    font-weight: bold !important;
}
.fontBold {
    font-weight: bold;
}
.font1 .sapMLabel {
    font-size: 1rem !important;
}
.fontBold .sapMLabel {
    font-weight: bold;
}